In [1]:
import pandas as pd
import sqlite3

In [2]:
# Primeiro se cria a conexão
banco = sqlite3.connect('base_de_dados.db')

# Se cria o cursor
cursor = banco.cursor()

In [3]:
# Comandos
cursor.execute("CREATE TABLE teste (nome text, idade integer)")

In [4]:
# Inserir dados
cursor.execute("INSERT INTO teste VALUES('Luis Felipe', 21)")

In [5]:
# Commit changes
banco.commit()

In [6]:
# Visualizar a base
cursor.execute("SELECT * FROM teste")
cursor.fetchall()

[('Luis Felipe', 21)]

In [7]:
# Fecha a conexão
cursor.close()

In [8]:
# Read SQL DATABASE
# import pyodbc
# conn = pyodbc.connect('Driver={SQL Server};'
#                       'Server=server_name;'
#                       'Database=database_name;'
#                       'Trusted_Connection=yes;')

# pd.read_sql("SELECT * FROM teste", conn)

In [9]:
cnx = sqlite3.connect('base_de_dados.db')

df = pd.read_sql_query("SELECT * FROM teste", cnx)

In [10]:
df

          nome  idade
0  Luis Felipe     21